.book__shelf{
    background-color: rgb(11, 11, 11);
    padding:0.5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size:1.5rem;
}
.book__shelf ul{
    background:transparent;
    border-radius:10px;
    width:90%;
    list-style:none;
    padding:0.5rem;
    height: auto;
    color:white;
}
.book__shelf ul li{
 flex-wrap: wrap;
 display:flex;
 justify-content:space-between;
 align-items: center;
}

.want_to_read ul{
    border:1px solid rgb(192, 232, 13);
    box-shadow:0px 0px 14px 4px rgb(221, 229, 67);
}

.currently__read ul{
    border:1px solid rgb(4, 11, 218);
    box-shadow:0px 0px 14px 4px rgb(15, 0, 128);
}

.read ul{
    border:1px solid rgb(38, 245, 38);
    box-shadow:0px 0px 14px 4px green;
}

